<div class="well row pull-right">
  <input type="submit" class="btn btn-primary" value="Nieuwe sessie">
  <input type="submit" class="btn" value="Bewerken">
</div>

<div class="row">
  <div class="span3 pull-left"><%= image_tag(@client.photo, :class => 'img-polaroid')  %></div>
  <div class="span8 pull-right">
    <h1><%= @client.name %></h1>
    <p>
      <%= @client.dossier.description %>
    </p>
  </div>
</div>

<div class="row">
  <div class="span11">
    <table class="table my-table">
      <thead>
          <th>Sessie datum</th>
          <th>Therapie</th>
          <th>Oefening</th>
          <th>Score</th>
          <th>Vorige oef.</th>
          <th>Sluit aan</th>
          <th>Niveau</th>
          <th>VVC</th>
          <th>VVT</th>
          <th>Naam therapeut</th>
      </thead>
      <tbody>

        <% @clientSessions.each do |clientSession|  %>
          <% clientSession.exercises.each do |exercise| %>
          <tr>
            <td><%= clientSession.date %>
            <td><%= exercise.name %></td>
            <% exercise.find_therapy_session(clientSession.id,exercise.id).each do |exercise| %>
              <td><%= exercise.name %></td>
            <% end %>
            <% exercise.sessionrating(clientSession.id,exercise.id).each do |sessionrating| %>
            <td><%=sessionrating.score%></td>            
            <td><%=sessionrating.previous_exercise%></td>            
            <td><%=sessionrating.connects%></td>            
            <td><%=sessionrating.client_level%></td>          
            <td><%=sessionrating.progress_c%></td>            
            <td><%=sessionrating.progress_t%></td>  
            <% end %>
            <td></td>
          </tr>
          <% end %>
        <% end  %>
      </tbody>
    </table>
  </div>
</div>