<div class="well row pull-right">
  <%= link_to "Nieuwe sessie",create_new_session_path(@client.id), :class => "btn btn-primary" %>
</div>

<div class="row">
  <div class="span3 pull-left"><%= image_tag(@client.photo, :class => 'img-polaroid')  %></div>
  <div class="span8 pull-right">
    <h1><%= @client.name %></h1>
    <p>
      <%= if(@client.dossier.respond_to?("description"))
                    @client.dossier.description
          end
      %>
    </p>
  </div>
</div>

<div class="row">
  <div class="span11">
        <% @clientSessions.each do |clientSession|  %>
        <table class="table my-table">

      <thead>
        <th colspan="7"><%= clientSession.date.to_s(:short) %></th>
        <th colspan="2"><%= link_to "Bewerken", [:edit, clientSession], :class => "btn btn-primary pull-right" %></td>
      </thead>
      <tbody>
        <tr>
          <td>Therapie</td>
          <td>Oefening</td>
          <td>Score</td>
          <td>Sluit aan</td>
          <td>Niveau</td>
          <td>VVC</td>
          <td>VVT</td>
          <td>Naam therapeut</td>
        </tr>

          <% clientSession.exercises.each do |exercise| %>
          <tr>
            <% exercise.find_therapy_session(clientSession.id,exercise.id).each do |therapy| %>
              <td><%= therapy.name %></td>
            <% end %>
            <td><%= exercise.name %></td>
            <% exercise.sessionrating(clientSession.id,exercise.id).each do |sessionrating| %>
            <td><%=sessionrating.score%></td>                       
            <td><%=sessionrating.connects%></td>            
            <td><%=sessionrating.client_level%></td>          
            <td><%=sessionrating.progress_c%></td>            
            <td><%=sessionrating.progress_t%></td>
            <tr>
              <td>
                  <% if(sessionrating.notes.first.respond_to?("description")) %>
                      <%= sessionrating.notes.first %>
                  <% end %>
                   <%= sessionrating.notes.first %>
              </td>
            </tr>  
            <% end %>
            <td><%=clientSession.therapist_name(clientSession.therapist_id).first.name %></td>
          </tr>
          <% end %>
      </tbody>
    </table>
        <% end  %>

  </div>
</div>