<h2>Therapie toevoegen</h2>
<%= simple_form_for(@therapy) do |f| %>
    <%= f.input :name %>
    <%= f.input :description, :input_html => { style: 'height: 100px !important;' } %>
    <p><label>Tags</label>
    <p><input name="tags" id="tags" class="tags span12" value="" /></p>

      <h3>Nieuw oefening toevoegen</h3>
      <div id="exercises_container">
        <div class="well my-well">
            <%= f.fields_for(:exercises) do |rf| %>
                <%= rf.input :name %>
                <%= rf.input :description, :input_html => { style: 'height: 100px !important;' } %>
            <% end %>
            </div>
        </div>
      <a href="javascript:;" class="btn btn-large btn-fluid-sub" onclick="add_exercise_fields();">Meer oefeningen toevoegen</a>


    <%= f.submit 'Toevoegen', class: 'btn btn-fluid' %>
<% end %>