<h1> Sessie resultaten bewerken </h1>
<div class="well row pull-right" style="color: black;">
  <% if( @clientSession.exercises.first.exercise_files.first.nil?) %>
      <div>Geen script beschikbaar</div>
  <% else %>
      Download script <div style="width: 98%; margin: 2px;"><a title="Download het script"><%= link_to image_tag('download-btn.png', { style: 'width: 90px;' }), site_url("scripts/#{ @clientSession.exercises.first.exercise_files.first.attachment_file_name}") %></a></div>
  <% end %>
</div>
<div class="well" style="color: black;">
  <h2>Uitvoering van deze oefening</h2>
    <p><%= @clientSession.exercises.first.description %></p>
</div>

<table class="table my-table">
<thead>	
<th>Oefening</th>
<th>Niveau cliënt</th>
<th>Score</th>
<th>Sluit aan</th>
<th>VVT</th>
<th>VVC</th>
<th>Therapeut</th>
</thead>

<tbody>
	<tr>
<%= simple_form_for(@clientSession) do |f| %>
<%=f.hidden_field :client_id %>
<%= f.simple_fields_for(:therapies) do |tf| %>
<!--<%= tf.input :name,:label => false, :disabled => true, :input_html => {placeholder: 'Selecteer de therapie',title: 'Therapie selecteren',class:'placeholder'} %> -->
<% end %>

<%= f.simple_fields_for(:exercises) do |tf| %>
<td><%= tf.input :name,:label => false,:disabled => true, :input_html => {placeholder: 'Selecteer de therapie',title: 'Therapie selecteren',class:'placeholder', style: "width: 200px;"} %> </td>
<% end %>

<%= f.simple_fields_for(:ratings) do |tf| %>
<td style="width:200px; height=100px;">
	<%=tf.input :client_level,
	:label => false,
	:collection => [:beginner,:gevorderde,:expert], 
	:input_html => {placeholder: '',title: '',class:'placeholder', style:'height:10px;'} %>
</td>

<td>
	<%=tf.input :score, :label => "&nbsp;", :input_html => {title: 'Therapie selecteren', id:'thumbs_checkbox'} %>
</td>

<td>
	<%=tf.input :connects,:label => false, :input_html => {placeholder: 'Selecteer de therapie',title: 'Therapie selecteren',class:'placeholder'} %>
</td>
<td style="width:220px;">
	<%=tf.input :progress_t,:label => false,:collection => [:matig,:redelijk,:goed,:uitstekend], :input_html => {placeholder: 'Selecteer de therapie',title: 'Therapie selecteren',class:'placeholder'} %>
</td>
<td style="width:220px;">
	<%=tf.input :progress_c,:label => false,:collection => [:matig,:redelijk,:goed,:uitstekend], :input_html => {placeholder: 'Selecteer de therapie',title: 'Therapie selecteren',class:'placeholder'} %>
</td>
<td>
	<%= @therapist.name %>
</td>
<tr>

<tr>
  <td colspan="7">
      <%= tf.input :description, :as => :text, :label => false, :input_html => {placeholder: 'Omschrijf hoe de oefening is verlopen (wat ging er goed/wat ging er juist niet goed)',title: 'Omschrijf hoe de oefening is verlopen (wat ging er goed/wat ging er juist niet goed)',class:'placeholder', style: "width: 100%; height: 100px !important;"} %>
  </td>
</tr>

<% end %>
<tr>
    <td colspan="7"><%= f.submit "Bewerken" , :class => "submit" %></td>
</tr>
<% end %>

</tbody>

</table>