<% up = (1..25).to_a.sample; down = (1..15).to_a.sample; total = up + down; %>
<li class="span11" style="margin-left: 0; border-bottom: solid 1px #ffffff;">
  <div class="span12">
    <div class="span2">
        <input class="knob" data-width="100" data-height="100" data-fgColor="chartreuse" data-thickness=".4" data-max="<%= total %>" data-readOnly=true data-value="<%= up %>" value="<%= total %>">
    </div>
    <div class="span6">
      <h3><%= therapy.name %></h3>
      <p><%= truncate(therapy.description, :length => 100) %></p>
    </div>
    <div class="span2" style="width: 160px;">

        <div style="width: 47%; float: left; margin: 2px;"><a href="<%= create_saved_therapies_path(therapy.id) %>" title="Opslaan in favorieten"><%= image_tag('favorite-btn.png') %></a></div>
        <div style="width: 47%; float: left; margin: 2px;"><a href="<%= new_colleagues_share_path(id: therapy.id) %>" title="Delen"><%= image_tag('share-btn.png') %></a></div>

        <% if (!defined? share) %>
            <p><a href="<%= therapy_path(therapy.id) %>" class="btn btn-small btn-primary" onclick="getDialog(this, {  }); return false;">Meer informatie</a></p>
        <% else %>
            <p><a href="<%= colleagues_share_path(share) %>" class="btn btn-small btn-primary">Meer informatie</a></p>
        <% end %>
    </div>
  </div>
</li>