<script type="text/javascript">
    $(function() {

        $(".knob").knob({
            /*change : function (value) {
             //console.log("change : " + value);
             },
             release : function (value) {
             console.log("release : " + value);
             },
             cancel : function () {
             console.log("cancel : " + this.value);
             },*/
            draw : function () {

                // "tron" case
                if(this.$.data('skin') == 'tron') {

                    var a = this.angle(this.cv)  // Angle
                            , sa = this.startAngle          // Previous start angle
                            , sat = this.startAngle         // Start angle
                            , ea                            // Previous end angle
                            , eat = sat + a                 // End angle
                            , r = 1;

                    this.g.lineWidth = this.lineWidth;

                    this.o.cursor
                            && (sat = eat - 0.3)
                    && (eat = eat + 0.3);

                    if (this.o.displayPrevious) {
                        ea = this.startAngle + this.angle(this.v);
                        this.o.cursor
                                && (sa = ea - 0.3)
                        && (ea = ea + 0.3);
                        this.g.beginPath();
                        this.g.strokeStyle = this.pColor;
                        this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, sa, ea, false);
                        this.g.stroke();
                    }

                    this.g.beginPath();
                    this.g.strokeStyle = r ? this.o.fgColor : this.fgColor ;
                    this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, sat, eat, false);
                    this.g.stroke();

                    this.g.lineWidth = 2;
                    this.g.beginPath();
                    this.g.strokeStyle = this.o.fgColor;
                    this.g.arc( this.xy, this.xy, this.radius - this.lineWidth + 1 + this.lineWidth * 2 / 3, 0, 2 * Math.PI, false);
                    this.g.stroke();

                    return false;
                }
            }
        });

        // Example of infinite knob, iPod click wheel
        var v, up=0,down=0,i=0
                ,$idir = $("div.idir")
                ,$ival = $("div.ival")
                ,incr = function() { i++; $idir.show().html("+").fadeOut(); $ival.html(i); }
                ,decr = function() { i--; $idir.show().html("-").fadeOut(); $ival.html(i); };
        $("input.infinite").knob(
                {
                    min : 0
                    , max : 20
                    , stopper : false
                    , change : function () {
                    if(v > this.cv){
                        if(up){
                            decr();
                            up=0;
                        }else{up=1;down=0;}
                    } else {
                        if(v < this.cv){
                            if(down){
                                incr();
                                down=0;
                            }else{down=1;up=0;}
                        }
                    }
                    v = this.cv;
                }
                });
    });
</script>

<div class="tabbable tabs-left">
  <ul class="nav nav-tabs span2">
    <li class="active"><a href="#my" data-toggle="tab">Mijn therapi&euml;en</a></li>
    <li><a href="#favorites" data-toggle="tab">Favorieten</a></li>
    <li><a href="#share" data-toggle="tab">Gedeeld</a></li>
    <li><a href="#other" data-toggle="tab">Andere therapi&euml;en</a></li>
    <li><a href="#add" data-toggle="tab">Therapie toevoegen</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="my">
      <div class="input-append search-form" style="float: right; margin-bottom: 10px; margin-top: -10px;">
        <input class="span3" id="therapy-search" type="text" style="float: left;">
        <div class="btn-group" style="float: left;">
          <a class="btn search-btn" href="#"><i class="icon-search"></i></a>
        </div>
      </div>

      <div class="row-fluid">
        <ul class="thumbnails">
          <% @current_user.therapies.each do |therapy| %>
            <%= render 'therapies/therapy_item', { therapy: therapy }  %>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="tab-pane" id="favorites">
      <div class="input-append search-form" style="float: right; margin-bottom: 10px; margin-top: -10px;">
        <input class="span3" id="therapy-search" type="text" style="float: left;">
        <div class="btn-group" style="float: left;">
          <a class="btn search-btn" href="#"><i class="icon-search"></i></a>
        </div>
      </div>

      <div class="row-fluid">
        <ul class="thumbnails">
          <% @current_user.saved_therapies.each do |st| %>
              <%= render 'therapies/therapy_item', { therapy: st.therapy }  %>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="tab-pane" id="share">
      <div class="input-append search-form" style="float: right; margin-bottom: 10px; margin-top: -10px;">
        <input class="span3" id="therapy-search" type="text" style="float: left;">
        <div class="btn-group" style="float: left;">
          <a class="btn search-btn" href="#"><i class="icon-search"></i></a>
        </div>
      </div>

      <div class="row-fluid">
        <ul class="thumbnails">
          <% @current_user.colleagues_shares.each do |st| %>
              <%= render 'therapies/therapy_item', { therapy: st.therapy, share: st.id }  %>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="tab-pane" id="other">
      <div class="input-append search-form" style="float: right; margin-bottom: 10px; margin-top: -10px;">
        <input class="span3" id="therapy-search" type="text" style="float: left;">
        <div class="btn-group" style="float: left;">
          <a class="btn search-btn" href="#"><i class="icon-search"></i></a>
        </div>
      </div>

        <div class="row-fluid">
          <ul class="thumbnails">
            <% @latest_therapies.each do |therapy| %>
                <%= render 'therapies/therapy_item', { therapy: therapy }  %>
            <% end %>
          </ul>
        </div>
    </div>
    <div class="tab-pane" id="add">
      <%= simple_form_for(@therapy) do |f| %>
          <%= f.input :name, :input_html => { placeholder: 'Wat is de titel van deze therapie?', title: 'Wat is de titel van deze therapie?', class: 'placeholder' } %>
          <%= f.input :description, :input_html => { style: 'height: 100px !important;', placeholder: 'Geef een duidelijke omschrijving van deze therapie. Wat kan met deze therapie worden bereikt?', title: 'Geef een duidelijke omschrijving van deze therapie. Wat kan met deze therapie worden bereikt?', class: 'placeholder' } %>
          <p><label>Tags</label>
          <p><input name="tags" id="tags" class="tags" value="" title="" /></p>

          <%= f.submit 'Toevoegen', class: 'btn btn-fluid' %>
      <% end %>
    </div>
  </div>
</div>
