<script>
    $(function() {

        $(".knob").knob({
            /*change : function (value) {
             //console.log("change : " + value);
             },
             release : function (value) {
             console.log("release : " + value);
             },
             cancel : function () {
             console.log("cancel : " + this.value);
             },*/
            draw : function () {

                // "tron" case
                if(this.$.data('skin') == 'tron') {

                    var a = this.angle(this.cv)  // Angle
                            , sa = this.startAngle          // Previous start angle
                            , sat = this.startAngle         // Start angle
                            , ea                            // Previous end angle
                            , eat = sat + a                 // End angle
                            , r = 1;

                    this.g.lineWidth = this.lineWidth;

                    this.o.cursor
                            && (sat = eat - 0.3)
                    && (eat = eat + 0.3);

                    if (this.o.displayPrevious) {
                        ea = this.startAngle + this.angle(this.v);
                        this.o.cursor
                                && (sa = ea - 0.3)
                        && (ea = ea + 0.3);
                        this.g.beginPath();
                        this.g.strokeStyle = this.pColor;
                        this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, sa, ea, false);
                        this.g.stroke();
                    }

                    this.g.beginPath();
                    this.g.strokeStyle = r ? this.o.fgColor : this.fgColor ;
                    this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, sat, eat, false);
                    this.g.stroke();

                    this.g.lineWidth = 2;
                    this.g.beginPath();
                    this.g.strokeStyle = this.o.fgColor;
                    this.g.arc( this.xy, this.xy, this.radius - this.lineWidth + 1 + this.lineWidth * 2 / 3, 0, 2 * Math.PI, false);
                    this.g.stroke();

                    return false;
                }
            }
        });

        // Example of infinite knob, iPod click wheel
        var v, up=0,down=0,i=0
                ,$idir = $("div.idir")
                ,$ival = $("div.ival")
                ,incr = function() { i++; $idir.show().html("+").fadeOut(); $ival.html(i); }
                ,decr = function() { i--; $idir.show().html("-").fadeOut(); $ival.html(i); };
        $("input.infinite").knob(
                {
                    min : 0
                    , max : 20
                    , stopper : false
                    , change : function () {
                    if(v > this.cv){
                        if(up){
                            decr();
                            up=0;
                        }else{up=1;down=0;}
                    } else {
                        if(v < this.cv){
                            if(down){
                                incr();
                                down=0;
                            }else{down=1;up=0;}
                        }
                    }
                    v = this.cv;
                }
                });
    });
</script>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#my" data-toggle="tab">Mijn therapi&euml;en</a></li>
    <li><a href="#other" data-toggle="tab">Andere therapi&euml;en</a></li>
    <li><a href="#detail" data-toggle="tab">Detail</a></li>
    <li><a href="#add" data-toggle="tab">Therapie toevoegen</a></li>
    <li class="pull-right">
      <div class="input-append search-form">
        <input class="span3" id="therapy-search" type="text" style="float: left;">
          <div class="btn-group" style="float: left;">
            <a class="btn search-btn" href="#"><i class="icon-search"></i></a>
          </div>
      </div>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="my">
      <table class="table table-striped">
        <thead>
        <th>Naam</th>
        <th>Omschrijving</th>
        <th></th>
        </thead>
        <tbody>
        <% @current_user.saved_therapies.each do |ts| %>
            <tr style="border-top: solid 2px black;">
              <td style="width: 150px;"><strong><%= ts.therapy.name %></strong></td>
              <td colspan="2" style="width: 150px;"><strong><%= ts.therapy.description  %></strong></td>
            </tr>
            <tr>
              <td></td>
              <td colspan="2">Oefeningen</td>
            </tr>
            <% ts.therapy.exercises.each do |exercise| %>
                <tr>
                  <td></td>
                  <td><%= exercise.name %></td>
                  <td><%= exercise.description %></td>
                </tr>
            <% end %>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="tab-pane" id="other">
        <div class="row-fluid">
          <ul class="thumbnails">
        <% @therapies.each do |therapy| %>

                <li class="span4">
                  <div class="thumbnail">
                    <input class="knob" data-width="150" data-height="150" data-fgColor="chartreuse" data-thickness=".4" data-readOnly=true value="22">
                    <div class="caption">
                      <h3><%= therapy.name %></h3>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                      <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>
                    </div>
                  </div>
                </li>
        <% end %>
          </ul>
        </div>
    </div>
    <div class="tab-pane" id="detail">
      <p>Howdy, I'm in Section 2.</p>
    </div>
    <div class="tab-pane" id="add">
      <%= simple_form_for(@therapy) do |f| %>
          <%= f.input :name %>
          <%= f.input :description, :input_html => { style: 'height: 100px !important;' } %>
          <p><label>Tags</label>
          <p><input name="tags" id="tags" class="tags span12" value="" /></p>

          <h3>Nieuw oefening toevoegen</h3>
          <div id="exercises_container">
            <div class="well my-well">
              <%= f.fields_for(:exercises) do |rf| %>
                  <%= rf.input :name %>
                  <%= rf.input :description, :input_html => { style: 'height: 100px !important;' } %>
              <% end %>
            </div>
          </div>
          <a href="javascript:;" class="btn btn-large btn-fluid-sub" onclick="add_exercise_fields();">Meer oefeningen toevoegen</a>


          <%= f.submit 'Toevoegen', class: 'btn btn-fluid' %>
      <% end %>
    </div>
  </div>
</div>
