<script type="text/javascript">
    $(function() {

        $(".modal-body .knob").knob({
            /*change : function (value) {
             //console.log("change : " + value);
             },
             release : function (value) {
             console.log("release : " + value);
             },
             cancel : function () {
             console.log("cancel : " + this.value);
             },*/
            draw : function () {

                // "tron" case
                if(this.$.data('skin') == 'tron') {

                    var a = this.angle(this.cv)  // Angle
                            , sa = this.startAngle          // Previous start angle
                            , sat = this.startAngle         // Start angle
                            , ea                            // Previous end angle
                            , eat = sat + a                 // End angle
                            , r = 1;

                    this.g.lineWidth = this.lineWidth;

                    this.o.cursor
                            && (sat = eat - 0.3)
                    && (eat = eat + 0.3);

                    if (this.o.displayPrevious) {
                        ea = this.startAngle + this.angle(this.v);
                        this.o.cursor
                                && (sa = ea - 0.3)
                        && (ea = ea + 0.3);
                        this.g.beginPath();
                        this.g.strokeStyle = this.pColor;
                        this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, sa, ea, false);
                        this.g.stroke();
                    }

                    this.g.beginPath();
                    this.g.strokeStyle = r ? this.o.fgColor : this.fgColor ;
                    this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, sat, eat, false);
                    this.g.stroke();

                    this.g.lineWidth = 2;
                    this.g.beginPath();
                    this.g.strokeStyle = this.o.fgColor;
                    this.g.arc( this.xy, this.xy, this.radius - this.lineWidth + 1 + this.lineWidth * 2 / 3, 0, 2 * Math.PI, false);
                    this.g.stroke();

                    return false;
                }
            }
        });

        // Example of infinite knob, iPod click wheel
        var v, up=0,down=0,i=0
                ,$idir = $("div.idir")
                ,$ival = $("div.ival")
                ,incr = function() { i++; $idir.show().html("+").fadeOut(); $ival.html(i); }
                ,decr = function() { i--; $idir.show().html("-").fadeOut(); $ival.html(i); };
        $("input.infinite").knob(
                {
                    min : 0
                    , max : 20
                    , stopper : false
                    , change : function () {
                    if(v > this.cv){
                        if(up){
                            decr();
                            up=0;
                        }else{up=1;down=0;}
                    } else {
                        if(v < this.cv){
                            if(down){
                                incr();
                                down=0;
                            }else{down=1;up=0;}
                        }
                    }
                    v = this.cv;
                }
                });
    });
</script>

<% up = (1..25).to_a.sample; down = (1..15).to_a.sample; total = up + down;  %>
<div class="tabbable">
<% if @ajax %>
<div class="modal-header">

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

  <h3><%= @therapy.name %></h3>
</div>
<% end %>

<div class="modal-body" <% if !@ajax %> style="overflow-y: visible; !important" <% end %>>
  <div class="span2" style="margin: 5px;">
    <input class="knob" data-width="150" data-height="150" data-fgColor="chartreuse" data-thickness=".4" data-max="<%= total+up %>" data-readOnly=true data-value="<%= total %>" value="<%= up %>">
  </div>
  <div class="span4" style="margin: 5px;">
    <h3><%= @therapy.name %></h3>
    <p style="height: 130px; overflow-y: auto;"><%= @therapy.description %></p>
  </div>
  <div class="span3" style="margin: 5px;">
    <h3>Geschikt gevonden</h3>
    <div class="label label-inverse" style="display: table; width: 120px; padding: 10px; background-color: #000000; margin-top: 10px;">
        <div class="" style="text-align: center; color: #3cff00; font-size: 3em; width: 49%; display: table; float: left; border-right: solid 1px #ffffff;"><%= up %></div>
        <div class="" style="text-align: center; color: #b50000; font-size: 3em; width: 49%; display: table; float: right;"><%= down %></div>
    </div>
  </div>
  <div class="span2" style="width: 150px; margin-top: 30px;">
    <div style="width: 47%; float: left; margin: 2px;"><a href="<%= create_saved_therapies_path(@therapy.id) %>" title="Opslaan in favorieten"><%= image_tag('favorite-btn.png') %></a></div>
    <div style="width: 47%; float: left; margin: 2px;"><a title="Delen" href="<%= new_colleagues_share_path(id: @therapy.id) %>"><%= image_tag('share-btn.png') %></a></div>
    <div class="btn btn-success">Gebruik deze therapie</div>
  </div>
  <div class="span11" style="margin: 5px;">
    <div class="result-header">
        <span>Resultaten oefeningen</span>
    </div>
    <table class="table my-table">
      <thead>
      <tr>
        <th>#</th>
        <th>Code</th>
        <th>Oefening</th>
        <th>Niveau cliënt</th>
        <th colspan="2">Score</th>
        <th>Best voorgande oefening</th>
        <th>Minst voorgande oefening</th>
        <th>Commentaar</th>
        <th>Download script</th>
      </tr>
      </thead>
      <tbody>
          <% @therapy.exercises.each do |exercise| %>
              <tr>
                <td>Pos.</td>
                <td><%= exercise.code %></td>
                <td><%= exercise.name %></td>
                <td>Beginner</td>
                <td>Up<br /><%= up %></td>
                <td>Down<br /><%= down %></td>
                <td>Kop optillen_Gevorderde</td>
                <td>Kop naar mond</td>
                <td><a href="javascript:;" onclick="$('tr#comment-<%= exercise.id %>').toggle('fast');"><span class="label label-info">Tonen (<%= exercise.ratings.count %>)</span></a></td>
                <td>
                  <% if(exercise.exercise_files.first.nil?) %>
                    <div>Geen script beschikbaar</div>
                  <% else %>
                    <div style="width: 98%; margin: 2px;"><a title="Download het script"><%= link_to image_tag('download-btn.png', { style: 'width: 90px;' }), site_url("scripts/#{exercise.exercise_files.first.attachment_file_name}") %></a></div>
                  <% end %>
                  </td>
              </tr>
              <tr id="comment-<%= exercise.id %>" style="display: none;">
                <td colspan="11">
                  <% if exercise.ratings.first.nil? %>
                      (Geen commentaar)
                  <% else %>
                      <%= exercise.ratings[0].description %>
                  <% end %>
                </td>
              </tr>
          <% end %>
      </tbody>
    </table>
  </div>

</div>
  <% if @ajax %>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
<% end %>
    </div>