<h2>Nieuwe oefening toevoegen</h2>
<%= simple_form_for(@exercise, :html => { :multipart => true }) do |f| %>
    <input name="therapy_id" value="<%= params[:id] %>" type="hidden" />

    <%= f.input :name,  :input_html => { placeholder: 'Wat is de titel van deze oefening?', title: 'Wat is de titel van deze oefening?' } %>
    <%= f.input :description, :input_html => { style: 'height: 150px !important;', placeholder: 'Geeft uitleg over de uitvoering van deze oefening.', title: 'Geeft uitleg over de uitvoering van deze oefening.' } %>

    Script toevoegen<br />
    <div id="tags_container">

      <%= f.simple_fields_for (:exercise_files) do |ff| %>
        <%=  ff.file_field :attachment %>
      <% end %>

    </div>
    <div class="controls controls-row">
      <%= f.submit 'Oefening toevoegen', class: 'btn', style: 'width: 100%;' %>
    </div>
<% end %>