<div class="ribbon"></div>
<div id="search-result-container" style="z-index: 1001; display: none; position: fixed; height: 500px; background-color: #000000; width: 100%;">
    <div style="width: 900px; margin: 0 auto;">
        <h1 style="color: #028bb8; font-weight: bolder; font-size: 4em; float: left; margin-top: 20px;">Zoeken</h1>
        <input class="span12" id="search-input" type="text" onkeyup="show_suggestions();">
        <div id="search-result"></div>
    </div>
</div>

<header class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <div class="input-append span4">
      </div>
      <nav>
        <ul class="nav pull span9" style="display: table;">
            <li style="width: 100%;">
              <%= render 'layouts/header_logo' %>
            </li>
        </ul>

        <ul class="nav pull-right span4" style="width: 260px;">
          <% if signed_in? %>
              <li id="fat-menu" class="dropdown" style="margin-top: 10px;">
                <div class="span2" style="width: 120px; float: left;">
                  <a style="float: right; margin-top: 10px; clear: both;"><div class="email-icon"><span class="badge badge-info" style="float: right; position: absolute; margin-left: -10px; margin-top: -10px;">8</span></div></a>
                  <div style="float: right; font-size: 2em; clear: both; margin-top: 10px; color: #ffffff;"><%= @current_user.name %></div>
                  <div style="float: right; color: #ffffff; clear: both;">Ergotherapie</div>
                </div>
                <div class="span2" style="width: 100px; float: right;">
                  <a href="#" class="dropdown-toggle span2" data-toggle="dropdown">
                    <%= image_tag(@current_user.photo, :class => 'circle_photo', :style => 'width: 100px;' )   %>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Profile", "#" %></li>
                    <li><%= link_to "Settings", "#" %></li>
                    <li class="divider"></li>
                    <li>
                      <%= link_to "Sign out", signout_path, method: "delete" %>
                    </li>
                  </ul>
                </div>
              </li>
          <% else %>
              <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>