<%=  %>
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="<%= active_menu_check('home') %>"><a href="home">Home</a></li>
    <li class="<%= active_menu_check('agenda') %>"><a href="agenda">Agenda</a></li>
    <li class="<%= active_menu_check('clients') %>"><a href="client">Cliënten</a></li>
    <li class="<%= active_menu_check('therapies') %>"><a href="therapies">Therapieën</a></li>
    <li class="<%= active_menu_check('colleagues') %>"><a href="colleague">Collega's</a></li>
  </ul>

  <div class="page-header well">
    <%= yield %>
  </div>
</div>