<%=  %>
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs" id="main-menu">
    <li class="<%= active_menu_check('home') %>"><a class="home-icon" href="<%= site_url 'home' %>">&nbsp;</a></li>
    <li class="<%= active_menu_check('agenda') %>"><a class="agenda-icon" href="<%= site_url 'agenda' %>">&nbsp;</a></li>
    <li class="<%= active_menu_check('clients') %>"><a class="clients-icon" href="<%= site_url 'clients' %>">&nbsp;</a></li>
    <li class="<%= active_menu_check('therapies') %>"><a class="therapies-icon" href="<%= site_url 'therapies' %>">&nbsp;</a></li>
    <li class="<%= active_menu_check('colleagues') %>"><a class="colleagues-icon" href="<%= site_url 'colleagues' %>">&nbsp;</a></li>
  </ul>

  <div class="page-container well">
    <%= yield %>
  </div>
</div>