<!DOCTYPE html>
<html>
<head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/start/jquery-ui.css" />
     <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/start/jquery-ui.css" />
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
</head>
<body>
    <!-- Modal container -->
    <div style="display: none;" id="modalContainer" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true"></div>

    <% if(@render_header == true || @render_header.nil?) %>
        <%= render 'layouts/header' %>
    <% end %>
    <div class="container">
      <% flash.each do |key, value| %>
          <div  class="alert alert-<%= key %>"><%= value %><a class="close" data-dismiss="alert" href="#">&times;</a></div>
      <% end %>

      <% if(signed_in?) %>
          <%= render 'layouts/masterpage_login' %>
      <% else %>
          <%= yield %>
      <% end %>


      <% if(@render_footer == true || @render_footer.nil? && true == false) %>
        <%= render 'layouts/footer' %>
      <% end %>
    </div>

    <%= debug(params) if Rails.env.development? %>

</body>
</html>